body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-radius: 20px;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--luchtBlauw);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    max-width: 500px;
    height: auto;
}

nav ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--paarsBlauw);
    font-weight: 600;
}

h1 {
    text-align: center;
}

.artikel-content {
    background-color: var(--luchtBlauw);
    display: grid;

}

.article-img {
    width: 100%;
}